#guessList {
    border: 3px solid black;
}

ul.guessBox {
    display: block;
    overflow: auto;
}

ul.guessBox li {
    display: inline;
    border: 1px solid black;
}

li {
    padding-right: 10px;
    padding-left: 10px;
}